# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/pdfs/quartz/KalingaStone - Quartz Brochure 271025.pdf
public/pdfs/tiles/Glossy 2026 Collection WL.pdf
public/pdfs/tiles/WB - 300X300-MOROCCAN.pdf
public/pdfs/tiles/WB-300x300mm-Cadbury Collection.pdf
public/pdfs/tiles/WB-300x300mm-Louvers Collection.pdf
public/pdfs/tiles/WB_CROSSY_COLLECTION.pdf
public/pdfs/tiles/1200X1800- POSHE COLLECTION.pdf
public/pdfs/tiles/Endless 2026 Collection WL.pdf
public/pdfs/tiles/GOLD SERIES W.pdf
public/pdfs/tiles/WB-300X300MM-LUXY COLLECTION.pdf
